body{
	margin: 0px;
	padding: 0px;
	background: #e2e2e2;
	font-family: cursive;
}

.central_block{
	width: 700px;
    margin: 50px auto;
    background: #ffffff;
    padding:  50px 0;
    box-shadow: 1px 1px 5px #ccc;
    border-radius: 10px;
}
.title_rus_verb{
	text-align: center;
	font-size: 30px;
}
.cont_eng_verbs{
	margin: 20px 50px 0px 193px;
}
.item_answer{
	margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    width: 300px;
    background: #f9f9f9;
    padding-left: 20px;
    border-radius: 6px;
    padding-top: 12px;
    font-size: 20px;
    color: #7c7b7b;
}
.item_answer:hover{
	background: #dfdfdf;
}
.item_answer span{
	font-size: 17px;
    margin-right: 15px;
    border: 1px solid #ecc400;
    padding: 0 7px;
    border-radius: 19px;
}
.true_a{
	background: #cae6c6;
}
.false_a{
	background: #ffeaea;
}
.cont_btn_next{
	    background: #a3bdf8;
    width: 314px;
    margin: 20px auto 0 auto;
    text-align: center;
    padding: 10px 0px;
    color: #fff;
    font-size: 22px;
    text-shadow: 1px 1px 5px #3a3939;
    border-radius: 10px;
    cursor: pointer;

}